* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Roboto, sans-serif;
   
}

.main-container {
    
    min-height: 100vh;  
    
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    
    
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;

    padding: 0 16px;
    min-width: 100vw;
    height: 96px;

    color: #1f2937;

    
}

.header-logo img {
    height: 96px;
    width: auto;
    display: flex;
}

.header-logo {
    margin-right: auto;
}

.header-link a:hover {

    color: #1f2937;
}

.header a {
    text-decoration: none;
    color: chocolate;
    font-size: 18px;
    
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 128px;
    background-color: #1f2937;
    padding: 64px 0;
    color: #fff;
    
    
}
    

.hero-text {
    
    min-width: 600px;
    display: flex;
    flex-direction: column;
    flex: 0;
    gap: 32px;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    
}

.hero-text span {
    color: chocolate;
    
}

.hero-image{
    min-width: 300px;
    display: flex;
    flex: 0;
}

.hero-image img {
    width: 100%;

    

}    

.info-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    
}

.info-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    width: 60%;
    text-align: center;
    
}

.info-title h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info-title p {
    font-size: 18px;
    color: #1f2937;
    
}


.info-items-container {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.info-text {
    display: flex;
    width: 250px;
    margin-top: 16px;
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

.info-image  {
    width: 200px;
    height: 200px;
    background-color: darkgray;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    background-color: #e5e7eb;
    padding: 96px;

    
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
    color: #1f2937;

}

.quote-quotee {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    margin-left:auto;
    

}



.action-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    gap: 32px;

}

.action-box {
    display: flex;
    width: 60%;
    min-width: 600px;
    min-height: 100px;
    padding: 32px;
    border-radius: 10px;

    justify-content: center;
    align-items: center;
    gap: 32px;


    background-color: #3882f6;
    color: #e5e7eb;
}
.action-text h1 {
    font-size: 24px;

}

.action-text p {
    font-size: 18px;

}

.action-button {
    min-width: 150px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    padding: 8px 16px;
    border-radius: 10px;

}

.action-button:hover {
    color: #3882f6;
    background-color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 16px;
    font-size: small;
}

.footer a {
    color: #e5e7eb;
    
}