* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Ubuntu, Verdana, sans-serif;
   
}

a {
    text-decoration: none;
    color: chocolate;
}

h1 {
    font-size: x-large;
}


.main-container {
    
    min-height: 100vh;  
    
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    
    
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;

    padding: 0 16px;
    min-width: 100vw;
    max-height: 64px;

    color: #1f2937;

    
}

.header-logo img {
    height: 64px;
    width: auto;
    display: flex;
}

.header-logo {
    margin-right: auto;
}

.header-link a {
    
}



.hero-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 128px;
    background-color: #1f2937;
    padding: 64px 0;
    color: #fff;
    
    
}
    

.hero-text {
    
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex: 0;
    gap: 32px;
}

.hero-text span {
    font-size: larger;
    color: chocolate;
    margin-left: 5px;
}

.hero-image{
    min-width: 250px;
    display: flex;
    flex: 0;
}

.hero-image img {
    width: 100%;

    

}    

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    
}

.info-title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    width: 60%;
    text-align: center;
}

.info-items-container {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.info-text {
    display: flex;
    width: 200px;
    margin-top: 16px;
    text-align: center;
}

.info-image  {
    width: 200px;
    height: 200px;
    background-color: darkgray;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.info-image img {
    

}

.quote {

}

.quote-text {

}

.quote-quotee {

}

.action-box {

}

.action-box-container {

}

.action-text {

}

.action-button {

}

.footer {
    background-color: #1f2937;
}